# Basis-URL des Node-RED-Servers (kein abschließender Slash)
VITE_API_BASE_URL=http://localhost:1880

# MJPEG-Streams der Kameras
VITE_CAMERA_ENTRY_URL=http://<einfahrt-kamera-ip>:5000/video_feed
VITE_CAMERA_EXIT_URL=http://<ausfahrt-kamera-ip>:5000/video_feed
